<h1>Data of cookies are</h1>
<!--accessing data from create method-->
<h2>@ViewBag.saved</h2>
@* retriving cookie variable from test action method *@
<a href="Test">CheckCookie</a>
<span>@ViewBag.msg</span>