@model StateManagement.Models.User
<form action="CreateSession" method="post">
	<label>Username:</label>
	<input type="text" asp-for="Username" /></br>
	<label>Password:</label>
	<input type="password" asp-for="Password" /></br>
	<button type="submit">SetSession</button>
</form>